openapi: 3.0.0
info:
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  description: "One way to interact with the Slack platform is its HTTP RPC-based\
    \ Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace\
    \ tokens blessed with related OAuth scopes."
  title: Slack Web API
  version: 1.7.0
  x-apisguru-categories:
  - collaboration
  - messaging
  x-logo:
    url: http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png
  x-origin:
  - version: "3.0"
    format: openapi
    url: https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json
  x-providerName: slack.com
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
servers:
- url: https://slack.com/api
tags:
- name: admin
- name: conversations
- name: admin.conversations
- name: files
- name: users
- name: chat
- name: admin.users
- name: apps
- name: usergroups
- name: admin.teams.settings
- name: calls
- name: files.remote
- name: admin.emoji
- name: dnd
- name: reminders
- name: team
- name: admin.usergroups
- name: reactions
- name: views
- name: admin.conversations.restrictAccess
- name: admin.inviteRequests
- name: oauth
- name: pins
- name: stars
- name: workflows
- name: admin.apps
- name: admin.teams
- name: admin.users.session
- name: apps.permissions
- name: apps.permissions.users
- name: auth
- name: calls.participants
- name: usergroups.users
- name: users.profile
- name: admin.apps.approved
- name: admin.apps.requests
- name: admin.apps.restricted
- name: admin.conversations.ekm
- name: admin.inviteRequests.approved
- name: admin.inviteRequests.denied
- name: admin.teams.admins
- name: admin.teams.owners
- name: api
- name: apps.event.authorizations
- name: apps.permissions.resources
- name: apps.permissions.scopes
- name: bots
- name: chat.scheduledMessages
- name: dialog
- name: emoji
- name: files.comments
- name: migration
- name: oauth.v2
- name: rtm
- name: search
- name: team.profile
paths:
  /admin.apps.approve:
    post:
      description: Approve an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      operationId: Adminapps_approveAppInstallation
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminappsApproveAppInstallationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminappsApproveAppInstallationResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsApproveAppInstallationdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:write
      tags:
      - admin.apps
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.apps.approve
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.apps.approved.list:
    get:
      description: List approved apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      operationId: Adminappsapproved_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    approved_apps:
                    - app:
                        description: test app
                        additional_info: ""
                        app_directory_url: https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app
                        app_homepage_url: https://www.slack.com
                        help_url: https://www.slack.com
                        icons:
                          image_1024: https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png
                          image_128: https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png
                          image_192: https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png
                          image_32: https://302674312496446w_2bd4ea1ad1f89a23c242_32.png
                          image_36: https://302674312496446w_2bd4ea1ad1f89a23c242_36.png
                          image_48: https://302674312496446w_2bd4ea1ad1f89a23c242_48.png
                          image_512: https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png
                          image_64: https://302674312496446w_2bd4ea1ad1f89a23c242_64.png
                          image_72: https://302674312496446w_2bd4ea1ad1f89a23c242_72.png
                          image_96: https://302674312496446w_2bd4ea1ad1f89a23c242_96.png
                          image_original: https://302674446w12496_2bd4ea1ad1f89a23c242_original.png
                        id: A0W7UKG8E
                        is_app_directory_approved: false
                        is_internal: false
                        name: My Test App
                        privacy_policy_url: https://www.slack.com
                      date_updated: 1574296707
                      last_resolved_by:
                        actor_id: W0G82F4FD
                        actor_type: user
                      scopes:
                      - description: Add the ability for people to direct message
                          or mention @my_test_app
                        is_sensitive: true
                        name: bot
                        token_type: bot
                    ok: true
                    response_metadata:
                      next_cursor: ""
              schema:
                $ref: '#/components/schemas/AdminappsapprovedListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsapprovedListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.approved
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.apps.approved.list
      x-accepts: application/json
  /admin.apps.requests.list:
    get:
      description: List app requests for a team/workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      operationId: Adminappsrequests_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    app_requests:
                    - app:
                        description: ""
                        additional_info: ""
                        app_directory_url: https://acmecorp.slack.com/apps/A061BL8RQ0-test-app
                        app_homepage_url: ""
                        help_url: ""
                        icons:
                          image_1024: /cdn/15258203/img/testapp/service_1024.png
                          image_128: /cdn/157258203/img/testapp/service_128.png
                          image_192: /cdn/157258203/img/testapp/service_192.png
                          image_32: /cdn/157658203/img/testapp/service_32.png
                          image_36: /cdn/157658203/img/testapp/service_36.png
                          image_48: /cdn/157658203/img/testapp/service_48.png
                          image_512: /cdn/15758203/img/testapp/service_512.png
                          image_64: /cdn/157658203/img/testapp/service_64.png
                          image_72: /cdn/157658203/img/testapp/service_72.png
                          image_96: /cdn/157658203/img/testapp/service_96.png
                        id: A061BL8RQ0
                        is_app_directory_approved: true
                        is_internal: false
                        name: Test App
                        privacy_policy_url: https://testapp.com/privacy
                      date_created: 1578956327
                      id: Ar0XJGFLMLS
                      message: test test again
                      previous_resolution: null
                      scopes:
                      - description: Post messages to specific channels in Slack
                        is_sensitive: false
                        name: incoming-webhook
                        token_type: user
                      team:
                        domain: acmecorp
                        id: T0M94LNUCR
                        name: Acme Corp
                      user:
                        email: janedoe@example.com
                        id: W08RA9G5HR
                        name: Jane Doe
                    ok: true
                    response_metadata:
                      next_cursor: ""
              schema:
                $ref: '#/components/schemas/AdminappsrequestsListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: missing_scope
                    needed: admin.apps:read
                    ok: false
                    provided: "read,client,admin,identify,post,apps"
              schema:
                $ref: '#/components/schemas/AdminappsrequestsListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.requests
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.apps.requests.list
      x-accepts: application/json
  /admin.apps.restrict:
    post:
      description: Restrict an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      operationId: Adminapps_restrictApp
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminappsRestrictAppRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminappsRestrictAppResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsRestrictAppdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:write
      tags:
      - admin.apps
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.apps.restrict
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.apps.restricted.list:
    get:
      description: List restricted apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      operationId: Adminappsrestricted_getList
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    response_metadata:
                      next_cursor: ""
                    restricted_apps:
                    - app:
                        description: A fun test app for Slack
                        additional_info: ""
                        app_directory_url: https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app
                        app_homepage_url: https://example.com
                        help_url: https://example.com
                        icons:
                          image_1024: https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png
                          image_128: https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png
                          image_192: https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png
                          image_32: https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png
                          image_36: https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png
                          image_48: https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png
                          image_512: https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png
                          image_64: https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png
                          image_72: https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png
                          image_96: https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png
                          image_original: https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png
                        id: A0FDLP8M2L
                        is_app_directory_approved: true
                        is_internal: false
                        name: My Test App
                        privacy_policy_url: https://example.com
                      date_updated: 1574296721
                      last_resolved_by:
                        actor_id: W0G82LMFD
                        actor_type: user
                      scopes:
                      - description: "Upload, edit, and delete files on the user‟\
                          s behalf"
                        is_sensitive: true
                        name: files:write:user
                        token_type: user
              schema:
                $ref: '#/components/schemas/AdminappsrestrictedGetListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsrestrictedGetListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.restricted
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.apps.restricted.list
      x-accepts: application/json
  /admin.conversations.archive:
    post:
      description: Archive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
      operationId: Adminconversations_archiveChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsArchiveChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsArchiveChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsArchiveChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.archive
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.convertToPrivate:
    post:
      description: Convert a public channel to a private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
      operationId: Adminconversations_convertToPrivateChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsConvertToPrivateChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsConvertToPrivateChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsConvertToPrivateChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.convertToPrivate
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.create:
    post:
      description: Create a public or private channel-based conversation.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
      operationId: Adminconversations_createChannelBasedConversation
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsCreateChannelBasedConversationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channel_id: C12345
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsCreateChannelBasedConversationResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsCreateChannelBasedConversationdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.create
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.delete:
    post:
      description: Delete a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
      operationId: Adminconversations_deleteChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsDeleteChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsDeleteChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsDeleteChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.delete
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.disconnectShared:
    post:
      description: Disconnect a connected channel from one or more workspaces.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
      operationId: Adminconversations_disconnectSharedChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsDisconnectSharedChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsDisconnectSharedChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsDisconnectSharedChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.disconnectShared
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      description: "List all disconnected channels—i.e., channels that were once connected\
        \ to other workspaces and then disconnected—and the corresponding original\
        \ channel IDs for key revocation with EKM."
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
      operationId: Adminconversationsekm_listOriginalConnectedChannelInfo
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: A comma-separated list of channels to filter to.
        explode: true
        in: query
        name: channel_ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of the workspaces to which the channels
          you would like returned belong.
        explode: true
        in: query
        name: team_ids
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                    - id: string
                      internal_team_ids: array
                      original_connected_channel_id: string
                      original_connected_host_id: string
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsekmListOriginalConnectedChannelInfoResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsekmListOriginalConnectedChannelInfodefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations.ekm
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.conversations.ekm.listOriginalConnectedChannelInfo
      x-accepts: application/json
  /admin.conversations.getConversationPrefs:
    get:
      description: Get conversation preferences for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
      operationId: Adminconversations_getConversationPrefs
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The channel to get preferences for.
        explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsGetConversationPrefsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsGetConversationPrefsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.conversations.getConversationPrefs
      x-accepts: application/json
  /admin.conversations.getTeams:
    get:
      description: Get all the workspaces a given public or private channel is connected
        to within this Enterprise org.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
      operationId: Adminconversations_getTeamsList
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The channel to determine connected workspaces within the organization
          for.
        explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                    - T1234
                    - T5678
              schema:
                $ref: '#/components/schemas/AdminconversationsGetTeamsListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsGetTeamsListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.conversations.getTeams
      x-accepts: application/json
  /admin.conversations.invite:
    post:
      description: Invite a user to a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
      operationId: Adminconversations_inviteUserToChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsInviteUserToChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsInviteUserToChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsInviteUserToChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.invite
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.rename:
    post:
      description: Rename a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
      operationId: Adminconversations_renameChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsRenameChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsRenameChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsRenameChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.rename
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.restrictAccess.addGroup:
    post:
      description: Add an allowlist of IDP groups for accessing a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
      operationId: AdminconversationsrestrictAccess_addGroupIdpGroups
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.restrictAccess.addGroup
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.restrictAccess.listGroups:
    get:
      description: List all IDP Groups linked to a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
      operationId: AdminconversationsrestrictAccess_listGroups
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      - description: "The workspace where the channel exists. This argument is required\
          \ for channels only tied to one workspace, and optional for channels that\
          \ are shared across an organization."
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    group_ids:
                    - YOUR_GROUP_ID
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessListGroupsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessListGroupsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.conversations.restrictAccess.listGroups
      x-accepts: application/json
  /admin.conversations.restrictAccess.removeGroup:
    post:
      description: Remove a linked IDP group linked from a private channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
      operationId: AdminconversationsrestrictAccess_removeIdpGroup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.restrictAccess.removeGroup
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.search:
    get:
      description: Search for public or private channels in an Enterprise organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
      operationId: Adminconversations_searchChannels
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma separated string of team IDs, signifying the workspaces\
          \ to search through."
        explode: true
        in: query
        name: team_ids
        required: false
        schema:
          type: string
        style: form
      - description: Name of the the channel to query by.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of items to be returned. Must be between 1 - 20
          both inclusive. Default is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The type of channel to include or exclude in the search. For\
          \ example `private` will search private channels, while `private_exclude`\
          \ will exclude them. For a full list of types, check the [Types section](https://slack.dev)."
        explode: true
        in: query
        name: search_channel_types
        required: false
        schema:
          type: string
        style: form
      - description: "Possible values are `relevant` (search ranking based on what\
          \ we think is closest), `name` (alphabetical), `member_count` (number of\
          \ users in the channel), and `created` (date channel was created). You can\
          \ optionally pair this with the `sort_dir` arg to change how it is sorted "
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: "Sort direction. Possible values are `asc` for ascending order\
          \ like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3,\
          \ 2, 1) or (c, b, a)"
        explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                    - created: 1449252889
                      creator: U012A3CDE
                      id: C012AB3CD
                      is_archived: false
                      is_channel: true
                      is_ext_shared: false
                      is_general: true
                      is_group: false
                      is_im: false
                      is_member: true
                      is_mpim: false
                      is_org_shared: false
                      is_pending_ext_shared: false
                      is_private: false
                      is_shared: false
                      name: general
                      name_normalized: general
                      num_members: 4
                      pending_shared: []
                      previous_names: []
                      purpose:
                        creator: ""
                        last_set: 0
                        value: This channel is for team-wide communication and announcements.
                          All team members are in this channel.
                      topic:
                        creator: ""
                        last_set: 0
                        value: Company-wide announcements and work-based matters
                      unlinked: 0
                    ok: true
                    response_metadata:
                      next_cursor: dGVhbTpDMDYxRkE1UEI=
              schema:
                $ref: '#/components/schemas/AdminconversationsSearchChannelsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_enterprise
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsSearchChannelsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.conversations.search
      x-accepts: application/json
  /admin.conversations.setConversationPrefs:
    post:
      description: Set the posting permissions for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setConversationPrefs
      operationId: Adminconversations_setConversationPrefs
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsSetConversationPrefsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsSetConversationPrefsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsSetConversationPrefsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.setConversationPrefs
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.setTeams:
    post:
      description: Set the workspaces in an Enterprise grid org that connect to a
        public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
      operationId: Adminconversations_setTeamsWorkspaceConnection
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsSetTeamsWorkspaceConnectionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsSetTeamsWorkspaceConnectionResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsSetTeamsWorkspaceConnectiondefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.setTeams
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.conversations.unarchive:
    post:
      description: Unarchive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.unarchive
      operationId: Adminconversations_unarchiveChannel
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsUnarchiveChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsUnarchiveChannelResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminconversationsUnarchiveChanneldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.conversations.unarchive
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.emoji.add:
    post:
      description: Add an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
      operationId: Adminemoji_addEmoji
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiAddEmojiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiAddEmojiResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiAddEmojidefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.emoji.add
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.emoji.addAlias:
    post:
      description: Add an emoji alias.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
      operationId: Adminemoji_aliasAdd
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiAliasAddRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiAliasAddResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiAliasAdddefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.emoji.addAlias
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.emoji.list:
    get:
      description: List emoji for an Enterprise Grid organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
      operationId: Adminemoji_listEnterpriseEmoji
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    cache_ts: "1575283387.000000"
                    categories:
                    - emoji_names:
                      - grinning
                      - grin
                      - joy
                      - etc etc ...
                      name: Smileys & People
                    categories_version: "5"
                    emoji:
                      black_square: alias:black_large_square
                      bowtie: https://emoji.slack-edge.com/T9TK3CUKW/bowtie/f3ec6f2bb0.png
                      cubimal_chick: https://emoji.slack-edge.com/T9TK3CUKW/cubimal_chick/85961c43d7.png
                      dusty_stick: https://emoji.slack-edge.com/T9TK3CUKW/dusty_stick/6177a62312.png
                      glitch_crab: https://emoji.slack-edge.com/T9TK3CUKW/glitch_crab/db049f1f9c.png
                      piggy: https://emoji.slack-edge.com/T9TK3CUKW/piggy/b7762ee8cd.png
                      pride: https://emoji.slack-edge.com/T9TK3CUKW/pride/56b1bd3388.png
                      shipit: alias:squirrel
                      simple_smile:
                        apple: https://a.slack-edge.com/80588/img/emoji_2017_12_06/apple/simple_smile.png
                        google: https://a.slack-edge.com/80588/img/emoji_2017_12_06/google/simple_smile.png
                      slack: https://emoji.slack-edge.com/T9TK3CUKW/slack/7d462d2443.png
                      slack_call: https://emoji.slack-edge.com/T9TK3CUKW/slack_call/b81fffd6dd.png
                      squirrel: https://emoji.slack-edge.com/T9TK3CUKW/squirrel/465f40c0e0.png
                      thumbsup_all: https://emoji.slack-edge.com/T9TK3CUKW/thumbsup_all/50096a1020.gif
                      white_square: alias:white_large_square
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiListEnterpriseEmojiResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiListEnterpriseEmojidefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.emoji
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.emoji.list
      x-accepts: application/json
  /admin.emoji.remove:
    post:
      description: Remove an emoji across an Enterprise Grid organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
      operationId: Adminemoji_removeEnterpriseEmoji
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiRemoveEnterpriseEmojiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiRemoveEnterpriseEmojiResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiRemoveEnterpriseEmojidefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.emoji.remove
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.emoji.rename:
    post:
      description: Rename an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
      operationId: Adminemoji_renameEmoji
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiRenameEmojiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiRenameEmojiResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiRenameEmojidefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.emoji.rename
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.inviteRequests.approve:
    post:
      description: Approve a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approve
      operationId: AdmininviteRequests_approveRequest
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsApproveRequestResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsApproveRequestdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:write
      tags:
      - admin.inviteRequests
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.inviteRequests.approve
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.inviteRequests.approved.list:
    get:
      description: List all approved workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approved.list
      operationId: AdmininviteRequestsapproved_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          API response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results that will be returned by the API on each\
          \ invocation. Must be between 1 - 1000, both inclusive"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsapprovedListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsapprovedListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests.approved
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.inviteRequests.approved.list
      x-accepts: application/json
  /admin.inviteRequests.denied.list:
    get:
      description: List all denied workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.denied.list
      operationId: AdmininviteRequestsdenied_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          api response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results that will be returned by the API on each
          invocation. Must be between 1 - 1000 both inclusive
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsdeniedListResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsdeniedListdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests.denied
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.inviteRequests.denied.list
      x-accepts: application/json
  /admin.inviteRequests.deny:
    post:
      description: Deny a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.deny
      operationId: AdmininviteRequests_denyRequest
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsDenyRequestResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsDenyRequestdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:write
      tags:
      - admin.inviteRequests
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.inviteRequests.deny
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.inviteRequests.list:
    get:
      description: List all pending workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.list
      operationId: AdmininviteRequests_listPendingWorkspaceInviteRequests
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          API response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results that will be returned by the API on each\
          \ invocation. Must be between 1 - 1000, both inclusive"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsListPendingWorkspaceInviteRequestsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsListPendingWorkspaceInviteRequestsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.inviteRequests.list
      x-accepts: application/json
  /admin.teams.admins.list:
    get:
      description: List all of the admins on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
      operationId: Adminteamsadmins_getAll
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    admin_ids:
                    - U1234
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamsadminsGetAllResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsadminsGetAlldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.admins
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.teams.admins.list
      x-accepts: application/json
  /admin.teams.create:
    post:
      description: Create an Enterprise team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
      operationId: Adminteams_createEnterpriseTeam
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamsCreateEnterpriseTeamRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team: T12345
              schema:
                $ref: '#/components/schemas/AdminteamsCreateEnterpriseTeamResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsCreateEnterpriseTeamdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.create
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.teams.list:
    get:
      description: List all teams on an Enterprise organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
      operationId: Adminteams_listAll
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return. Must be between 1 - 100
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                    - discoverability: hidden
                      id: T1234
                      name: My Team
                      primary_owner:
                        email: bront@slack.com
                        user_id: W1234
                      team_url: https://subarachnoid.slack.com/
              schema:
                $ref: '#/components/schemas/AdminteamsListAllResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsListAlldefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.teams.list
      x-accepts: application/json
  /admin.teams.owners.list:
    get:
      description: List all of the owners on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
      operationId: Adminteamsowners_listOwners
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    owner_ids:
                    - U1234
              schema:
                $ref: '#/components/schemas/AdminteamsownersListOwnersResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsownersListOwnersdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.owners
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.teams.owners.list
      x-accepts: application/json
  /admin.teams.settings.info:
    get:
      description: Fetch information about settings in a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
      operationId: Adminteamssettings_getInfo
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team:
                      default_channels: array
                      domain: string
                      email_domain: string
                      enterprise_id: string
                      enterprise_name: string
                      icon: array
                      id: stringX
                      name: string
              schema:
                $ref: '#/components/schemas/AdminteamssettingsGetInfoResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsGetInfodefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--admin.teams.settings.info
      x-accepts: application/json
  /admin.teams.settings.setDefaultChannels:
    post:
      description: Set the default channels of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
      operationId: Adminteamssettings_setDefaultChannels
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetDefaultChannelsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDefaultChannelsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDefaultChannelsdefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.settings.setDefaultChannels
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.teams.settings.setDescription:
    post:
      description: Set the description of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
      operationId: Adminteamssettings_setDescription
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetDescriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDescriptionResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDescriptiondefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.settings.setDescription
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.teams.settings.setDiscoverability:
    post:
      description: An API method that allows admins to set the discoverability of
        a given workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
      operationId: Adminteamssettings_setDiscoverabilityOfWorkspace
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspaceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspaceResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspacedefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.settings.setDiscoverability
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.teams.settings.setIcon:
    post:
      description: Sets the icon of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
      operationId: Adminteamssettings_setIcon
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetIconRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetIconResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetIcondefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.settings.setIcon
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.teams.settings.setName:
    post:
      description: Set the name of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
      operationId: Adminteamssettings_setName
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetNameRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetNameResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetNamedefaultResponse'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.teams.settings.setName
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.usergroups.addChannels:
    post:
      description: Add one or more default channels to an IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addChannels
      operationId: Adminusergroups_addDefaultChannels
      parameters:
      - description: "Authentication token. Requires scope: `admin.usergroups:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusergroupsAddDefaultChannelsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusergroupsAddDefaultChannelsResponse'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminusergroupsAddDefaultChannelsdefaultResponse'
          description: Typical error response if the token provided is not associated
            with an Org Admin or Owner
      security:
      - slackAuth:
        - admin.usergroups:write
      tags:
      - admin.usergroups
      - admin
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--admin.usergroups.addChannels
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /admin.usergroups.addTeams:
    post:
      description: Associate one or more default workspaces with an organization-wide
        IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addTeams
      operationId: Adminusergroups_associateDefaultWorkspaces
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusergroupsAssociateDefaultWorkspacesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
[...]
